@import './reset.css';
@import './font.css';
@import './variable.scss';


:root{
   --scrollbar-width:17px;
}
body{
   font-family: $pretendard;
}

/* hidden Word / 접근성을 위한 숨김 글자 */
.hiddenWord{
   position: absolute;
   overflow:hidden;
   clip-path:polygon(0 0, 0 0, 0 0);
   width:1px; height:1px;
   margin:-1px;
 }