.mainSection{
   padding: 0 3.791em;
   .movieArticle{
      width:100%;
      margin-bottom:50px;
      &:last-child{
         margin:0;
      }
      .titleFlex{
         display: flex;
         width:100%;
         padding:0 0 20px;
         .todaysTit{
            font-size:1.625em;
            font-weight:800;
            color:#fff;
         }
      }
      .movieList{
         padding: 4rem 1.333rem 2.5rem;
         margin: -4rem -1.333rem -2.5rem;
         position:relative;
      }
      .swiper{
         --swiper-theme-color:#fff;
         width:100%;
         &:hover{
            .swiper-button-next, .swiper-button-prev, .swiper-pagination{
               opacity: 1;
               &.swiper-button-disabled{
                  opacity: 0;
               }
            }
         }
         .swiper-wrapper{
            align-items: center;
            .swiper-slide{
               max-width:245px;
               transition: .3s;
               margin-top:0 !important;
               text-align:center;
               img{
                  min-height:350px;
                  max-height:350px;
                  border-radius: 5px;
               }
               &:hover{
                  transform: translateY(-10px);
               }
               .toNavi{
                  cursor: pointer;
               }
            }
         }
         .swiper-button-prev, .swiper-button-next{
            width:3.609em;
            height:77%;
            top:52%;
            position: absolute;
            transform: translateY(-50%);
            transition: .5s;
            background:no-repeat 50% 40% / 100%;
            margin:0;
            padding:0;
            z-index: 10;
            opacity: 0;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0) 44%, rgba(0, 0, 0, 0));
         }
         .swiper-button-next{
            right:0px;
         }
         .swiper-button-prev{
            left:0px;
         }
         .swiper-pagination{
            position: absolute;
            top:6%;
            left:87%;
            display:inline-block;
            width:inherit;
            width:20%;
            height:10%;
            opacity: 0;
            .swiper-pagination-bullet-active{
               background-color: #fff;
            }
         }
         .itemTit{
            font-size:1.125em;
            color:#fff;
            margin-top:10px;
            text-align:left;
         }
      }
   }
   
   .swiper-pagination-bullet{
      background-color:rgba($color: #fff, $alpha: 0.5);
   }
}